{% extends 'formulario/formulario_base.html' %}

{% block title %}Error 404{% endblock title %}

{% block content %}
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="card border border-4" style="width: 30rem;">
                <!--  
                <div class="row justify-content-center">
                    {% load static %}
                    <img src="{% static 'formulario\img\danger.png' %}" class="card-img-top" style="width: 10rem;">
                </div>
                -->
                <div class="row justify-content-center">
                    <div class="card-body">
                        <h4 class="card-title text-center">No existen registros</h4>
                        <p class="card-text">La consulta que realiste no contiene ningún registro. Vuelve a intentarlo con otras opciones.</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <a href="{% url 'index' %}" class="btn btn-primary" style="width: 10rem;">Regresar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


