{% extends 'formulario/formulario_base.html' %}

{% block title %}Formulario outbounder{% endblock title %}

{% load static %}

{% block content %}

	<!------------------ SECCION FORMULARIO------------------------>
	<body background="{% static 'formulario/img/fondoformulario.png' %}">
		<form action="{% url 'submit_registro' cedi_select pais_select campania_select contacto.num_dist %}" method="post">
			{% csrf_token %}
			<!------------------ SECCION INFORMATIVA------------------------>
			<div class="container form-control mt-4 mb-2" style="background-color:rgba(255,255,255,0.7);">
				<div class="row">
					<div class="col">
						<label class="fw-bold" for="">País:</label>
						<label for="">{{pais_select}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="fw-bold" for="">CEDIS:</label>
						<label for="">{{cedi_select}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="fw-bold" for="">Campaña:</label>
						<label for="">{{campania_select}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<!------------------ DESCRIPCION DE CAMPAÑA ------------------------>
						<label class="fw-bold" for="">Descripción de campaña:</label>
						<label for="">{{descripcion_campania.descripcion}}</label>
					</div>
				</div>
			</div>

			{% comment %} 
			<div class="container">
				<div class="row justify-content-start">
					<p class="col-6 text-start fs-4">Datos del empresario</p>
				</div>
			</div>
			{% endcomment %}

			<!------------------ SECCION INFO CONTACTO ------------------------>
			<div class="container form-control ps-3 pe-3 mt-4" style="background-color:rgba(255,255,255,0.7);">
				<div class="row">
					<div class="border col-4">
						<label class="fw-bold" for="">Número de distribuidor:</label>
						<label for="">{{contacto.num_dist}}</label>
					</div>
					<div class="border col-6">
						<label class="fw-bold" for="">Nombre:</label>
						<label for="">{{contacto.nombre}}</label>
					</div>
					<div class="border col-2">
						<label class="fw-bold" for="">Descuento:</label>
						<label for="">{{contacto.descuento_choice}}</label>
					</div>
				</div>
				<div class="row">
					<div class="border col">
						<label class="fw-bold" for="">Teléfono casa:</label>
						<label for="">{{contacto.tel_casa}}</label>
					</div>
					<div class="border col">
						<label class="fw-bold" for="">Celular:</label>
						<label for="">{{contacto.tel_cel}}</label>
					</div>
					<div class="border col">
						<label class="fw-bold" for="">País:</label>
						<label for="">{{contacto.pais}}</label>
					</div>
					<div class="border col">
						<label class="fw-bold" for="">Estado:</label>
						<label for="">{{contacto.estado}}</label>
					</div>
				</div>
				<div class="row">
					<div class="border col">
						<label class="fw-bold" for="">Centro de alta:</label>
						<label for="">{{contacto.centro_alta}}</label>
					</div>
					<div class="border col">
						<label class="fw-bold" for="">Email:</label>
						<label for="">{{contacto.email}}</label>
					</div>
					<div class="border col-5">
						<label class="fw-bold" for="">Fecha última compra:</label>
						<label for="">{{contacto.fecha_ultima_compra}}</label>
					</div>
					<div class="border col">
						<label class="fw-bold" for="">Meses sin compra:</label>
						<label for="">{{contacto.meses_sin_compra}}</label>
					</div>
				</div>
				<div class="row">
					<div class="border col-4">
						<label class="fw-bold" for="">Fecha de alta:</label>
						<label for="">{{contacto.fecha_alta}}</label>
					</div>
					<div class="border col-1">
						<label class="fw-bold" for="">Sexo:</label>
						<label for="">{{contacto.sexo}}</label>
					</div>
					<div class="border col-4">
						<label class="fw-bold" for="">Fecha de nacimiento:</label>
						<label for="">{{contacto.fecha_nacimiento}}</label>
					</div>
					<div class="border col">
						<label class="fw-bold" for="">Puntos totales:</label>
						<label for="">{{contacto.total_puntos}}</label>
					</div>
				</div>
			</div>


			<div class="container mt-4 pb-2 rounded-3" style="background-color:rgba(255,255,255,0.7);">
				<!------------------ Checkbox Remarcar ------------------------>
				<div class="pt-2 row justify-content-center">
					<div class="col-1 text-center">
						<label>Remarcar</label>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-1 text-center">
						<div class="form-switch mb-3 ">
							<input class="form-check-input" type="checkbox" name="check_remarcar" value="True" onclick="chequeo(this)">
						</div>
					</div>
				</div>
				<!------------------ SELECCION DE REGISTRO EXITOSO ------------------------>
				<div class="row justify-content-center">
					<div class="col col-lg-4">
						<label class="input-group-text bg-secondary text-light">Registro exitoso</label>
						<select class="form-select" name="registro_exitoso" id="regis_exitoso">
							<option selected>----------</option>
							{% for i in registros_exitosos %}
							<option value="{{i.razon}}">{{i.razon}}</option>
							{% endfor %}
						</select>
					</div>
					<!------------------ SELECCION DE REGISTRO NO EXITOSO ------------------------>
					<div class="col col-lg-4">
						<label class="input-group-text bg-secondary text-light">Registro no exitoso</label>
						<select class="form-select"  name="registro_no_exitoso" id="regis_no_exitoso">
							<option value="">----------</option>
							{% for i in registros_no_exitosos %}
							<option value="{{i.razon}}">{{i.razon}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-5 mt-3">
						<!------------------ SELECCION DE COMENTARIO ------------------------>
						<textarea class="form-control" placeholder="Deja tus comentarios aquí" name="textarea" rows="5"
									cols="50"></textarea>
					</div>
				</div>
			</div>
			<!------------------ BOTON ENVIAR ------------------------>
			<div class="container col-1 mt-3 mb-3">
				<div class="row justify-content-center">
					<input class="form-control btn btn-warning" type="submit" value="Enviar">
				</div>
			</div>
		</form>

	</body>
	
	<script type="text/javascript" src="{% static 'formulario/js/main.js' %}"></script>
{% endblock %}

