<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Page</title>
</head>
<body>
    <h1>Vista de formulario</h1>
    <form action="">
        {% csrf_token %}
        <label for="">País:</label>
        <label for="">{{pais_select}}</label>
        <label for="">CEDIS:</label>
        <label for="">{{cedi_select}}</label>
        <label for="">Campaña:</label>
        <label for="">{{campania_select}}</label>
        <label for="">Descripción de campaña:</label>
        <p>{{descripcion_campania.descripcion}}</p>
        <label for="">{{contacto.nombre}}</label>

    </form>
</body>
</html>