{% extends 'formulario/formulario_base.html' %}

{% block title %}Index page{% endblock title %}

{% block content %}
  {% load static %}
  <!-- Imagen de fondo -->
  <link rel="stylesheet" href="{% static 'formulario/css/image_background.css' %}">

  <body>
  <!-- Imagen de fondo -->
  <style>body {background-image: url("{% static 'formulario/img/Fondo50.png' %}");}</style>

  <div class="container col-3 rounded-3 text-center pt-3 shadow-lg"
       style="margin-top: 7rem; background-color:rgba(255,255,255,0.8);">
    <form action="{% url 'formulario' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <h3 class="fw-bold">Seguimiento de campañas</h3>
      </div>

      <!-- SELECT PAIS -->
      <!-- IMPORTANTE: el atributo value="" es necesario para que el required funcione -->
      <div class="row m-2 justify-content-center">
        <select class="form-select rounded-3" name="select_pais" id="pais_select" required>
          <option value="" disabled selected hidden>País</option>
          {% for i in pais %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- SELECT CEDIS -->
      <div class="row m-2 justify-content-center">
        <select class="form-select rounded-3" name="select_cedis" id="" required>
          <option value="" disabled selected hidden>CEDI</option>
          {% for i in cedi %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- SELECT CAMPAÑA -->
      <div class="row m-2 justify-content-center">
        <select class="form-select rounded-3" name="select_campania" id="" required>
          <option value="" disabled selected hidden>Campaña</option>
          {% for j in campania %}
            <option value="{{ j }}">{{ j }}</option>
          {% endfor %}
        </select>
      </div>
      {% comment %}
                *************************************************
                BOTON ENVIAR
                *************************************************
                {% endcomment %}
      <div class="row justify-content-center mt-4">
        <input class="col-5 btn btn-warning rounded-0" type="submit" value="Enviar">
      </div>
      <div class="row justify-content-center mt-4">
        <p class="">
          ¿Tienes problemas para ingresar? Contáctanos al correo <strong>sergio.mascorro@omnilife.com</strong> o a la
          extensión <strong>6662</strong>.
        </p>
      </div>

    </form>
  </div>

  </body>
{% endblock content %}


