<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Outbound</title>
</head>
<body>
    <h1>Vista Index</h1>
    
    <form action="/formulario/" method="post">
    {% csrf_token %}
    {% comment %} 
        *************************************************
        SELECCION DE CEDIS
        ************************************************* 
    {% endcomment %}
        <label for="">CEDIS</label>
        <select name="select_cedis" id="">
            {% for i in cedi %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
    {% comment %}
        *************************************************
        SELECCION DE CAMPAÑA
        *************************************************  
    {% endcomment %}
        <select name="select_campania" id="">
            {% for i in campania %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Enviar">
    </form>

        

</body>
</html>
