<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>SECAM</title>
</head>
<body background="fondo50.png" class="fondo">
    <section class="form-register">
    <h4>Seguimiento de campañas</h4>
    <section>  <input class="controls" type="text"   pais="pais" placeholder="Ingrese su País"></section>
    <section> <input class="controls" type="text"   cedis="cedis" placeholder="Ingrese su CEDIS"></section>
    <input class="botons"type="submit" value="Ingresar">
    <p>¿Tienes problemas para ingresar?, contactanos al correo <a href="#"> sergio.mascorro@omnilife.com </a> o a la extensión 6662.</p>
</section>
</body>
</html>