{% extends 'formulario/formulario_base.html' %}

{% block title %}Submit page{% endblock title %}
 
{% block content %}
    {% if registros_totales != total_exitosos %}
    
        {% load static %}
        <link rel="stylesheet" href="{% static 'formulario/css/submit.css' %}">
    
        <!-- Si aún hay registros en no exitoso, muestra la información -->

        <!-- CARD BOOTSTRAP -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                      <h3 class="card-title">Registro guardado exitosamente</h3>
                      <p class="card-text">Presiona regresar para continuar con el siguiente contacto.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Registros totales: </strong>{{registros_totales}}</li>
                      <li class="list-group-item"><strong>Registros no exitosos: </strong>{{total_no_exitosos}}</li>
                      <li class="list-group-item"><strong>Registros exitosos: </strong>{{total_exitosos}}</li>
                    </ul>
                    <div class="card-body text-center">
                        <a class="btn btn-primary" href= "{% url 'formulario2' pais cedis campania registros_totales total_no_exitosos total_exitosos %}">Nuevo Contacto</a>
                    </div>
                </div>
            </div>
        </div>
        
    {% else %} 
        <!--Si se acaban los registros no exitosos, muestra el mensaje y el regreso al index-->
        <!-- CARD BOOTSTRAP ELSE -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="card border border-4" style="width: 30rem;">
                    <div class="row justify-content-center">
                        <img src="{% static 'formulario/img/warning.png' %}" class="card-img-top" style="width: 10rem;">
                    </div>
                    <div class="row justify-content-center">
                        <div class="card-body">
                            <h4 class="card-title text-center">Contactos agotados</h4>
                            <p class="card-text">Contactos con estatus <em>remarcar</em> agotados en campaña: <em>{{campania}}</em>, CEDIS: <em>{{cedis}}</em>. Selecciona una nueva campaña y CEIDS.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-2">
                        <a href="{% url 'index' %}" class="btn btn-primary" style="width: 10rem;">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}

